body {
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

.micuenta-button {
  padding: 16px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0 rgba(51, 62, 99, 0.75);
  transition: background-color 0.3s ease;
  width: 255px;
  height: 52px;
  margin: 20px;
}

.micuenta-button:hover {
  background: #CD6161;
}

.micuenta-button:active {
  background: #E2B2B2;
}

.micuenta-button:disabled {
  background: rgba(125, 106, 106, 0.50);
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: black;
}

.hr {
  background-color: black;
  height: 2px;
  margin: 20px 0; /* Agrega un espacio entre elementos */
}

.main-container {
  position: relative;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.contenido {
  position: relative;
  z-index: 1;
  max-width: calc(100% - 64px);
  margin: 0 auto; /* Centra el contenido horizontalmente */
  padding: 20px;
}

.mi-perfil,
.seguro-cerrar-sesion {
color: #000;
font-family: ABeeZee;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

.cosas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 863px;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  margin-top: 32px;
}

.primary-buttons-11,
.primary-buttons-13 {
  padding: 16px 32px;
  cursor: pointer;
  background: #EFACAC;
  border: none;
  font-size: 16px;
  border-radius: 32px;
  box-shadow: 2px 2px 4px 0 rgba(51, 62, 99, 0.75);
  transition: background-color 0.3s ease;
}

.image-removebg-preview {
  flex-shrink: 0;
  position: relative;
  width: 257px;
  height: 375px;
  background: url(../img/adios.png) no-repeat center;
  background-size: cover;
  z-index: 26;
}

.image-27 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../img/fondo1.png) no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .contenido {
      padding: 10px;
  }
  .image-removebg-preview {
      display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .image-removebg-preview {
      width: 50%;
      height: auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  .image-27 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
}
