/* Estilos base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

/* Contenedor principal */
.main-container {
    overflow: hidden;
    position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.image-27 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 110px;
  background: url(../img/fondo1.png) no-repeat center;
  background-size: cover;
}
/* Contenido de Registro */
.contenidoRegistro {
    /* display: flex; */
    /* flex-direction: row;
    align-items: flex-start;
    gap: 20px; */
    /* padding: 32px; */
    position: relative;
    width: calc(100% - 64px); /* Ajustar el ancho para el padding */
    margin: 0 auto;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */

}

/* Estilos para el formulario */
.formulario {
  position: relative;
  width: 483px; /* Ancho del formulario */
  margin-left: 900px; /* Centra horizontalmente el formulario */
  /* margin-right: auto; Centra horizontalmente el formulario */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Colocar el formulario por encima del fondo */
  margin-top: -385px; /* Agregar margen superior para separarlo del menú */
  margin-bottom: 20px; /* Agregar margen inferior para separarlo del menú */
}

/* Estilos para los input del formulario */
.nombre {
  margin-bottom: 5px; /* Espacio entre cada input */

}
/* Estilos para el botón de editar dentro del formulario */
.group-button,
.botones-grandes-movil {
  margin-top: 20px; /* Ajustar margen superior para separarlo del contenido anterior */
  margin-left: auto; /* Centra horizontalmente el botón */
  margin-right: auto; /* Centra horizontalmente el botón */
  display: block; /* Hacer que el botón sea un bloque para ocupar el ancho disponible */
  width: fit-content; /* Ajustar el ancho del botón al contenido */
  padding: 5px 32px;
  cursor: pointer;
  border-radius: 32px;
  border: none;
  background: var(--rosa-contraste, #EFACAC);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  transition: background-color 0.3s ease;
}
.group-button:hover,
.botones-grandes-movil:hover {
  border-radius: 32px;
background: var(--contraste-clarito, #CD6161);

/* shadow */
box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}
.group-button:active,
.botones-grandes-movil:active {
  border-radius: 32px;
  background: var(--clicked-contraste, #E2B2B2);
}

/* Estilos para el contenedor del formulario */
.frame-10 {
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos de entrada */
.nombre {
  display: flex;
  flex-direction: column;
}

/* Estilos para las etiquetas */
.nombre-completo {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

.mi-perfil{
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: ABeeZee;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block: 20px;
}
.bienvenido-usuario{
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contenedor-sentada-formulario {
  display: flex;
  justify-content: space-between; /* Coloca los elementos al inicio y al final del contenedor */
  align-items: center; /* Centra verticalmente los elementos */
  margin-top: 20px; /* Espacio entre la imagen y el formulario */
}
/* Estilos para la imagen de sentada */

.sentada {
  flex-shrink: 0; /* Evita que la imagen se reduzca más allá de su tamaño original */
  width: 446px; /* Ancho de la imagen */
  height: 375px; /* Altura de la imagen */
  background: url(../img/sentado.png) no-repeat center;
  background-size: cover;
  z-index: 26;
  margin-left: 77px;
  
}
.botones-grandes-movil {
  margin-top: 10px; /* Ajustar margen superior para separarlo del contenido anterior */
  margin-left: auto; /* Centra horizontalmente el botón */
  margin-right: auto; /* Centra horizontalmente el botón */
  display: none; /* Ocultar el botón de guardar inicialmente */
  width: fit-content; /* Ajustar el ancho del botón al contenido */
}
@media screen and (max-width: 1024px) {
  .formulario {
    width: 80%; /* Reducir el ancho del formulario para tabletas */
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario con un margen */
    padding: 15px; /* Aumentar el relleno del formulario para tabletas */
    margin-top: 20px; /* Ajustar el margen superior del formulario */
  }

  .sentada {
    display: none; /* Ocultar la imagen en dispositivos de tamaño de pantalla de tableta */
  }
}
/* Estilos para los campos de entrada */
.nombre input[type="text"],
.nombre input[type="date"] {
    border: 5px solid #ccc; /* Agregar un borde de 5px sólido de color gris */
    border-radius: 5px; /* Agregar bordes redondeados */
    width: calc(100% - 10px); /* Calcular el ancho del input restando el padding y el borde */
}

/* Estilos para las etiquetas */
.nombre-completo {
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
    font-weight: bold; /* Hace que el texto esté en negrita */
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .contenidoRegistro {
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente en dispositivos pequeños */
  }

  .formulario {
    width: 90%; /* Reducir el ancho del formulario para dispositivos pequeños */
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario con un margen */
    padding: 10px; /* Reducir el relleno del formulario en dispositivos pequeños */
  }

  .sentada {
    display: none; /* Ocultar la imagen en dispositivos pequeños */
  }
}


