body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.group .group-3 .text-5 a{
  color: #000;
  text-decoration: none;
}

.hero {
  height: 623px;
  background-image: url(../img/fondo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1519px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.hero h1 {
  margin: 0;
  margin-top: 100px;
  color: #000;
  text-align: center;

  /* Dosis */
  font-family: Dosis;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 89.6px */
}

.start_button {
  display: flex;
  width: 298px;
  height: 70px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: var(--contraste-definitivo, #aabbb2);

  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  position: absolute;
  left: 650px;

  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.hero .start_button a {
  text-decoration: none;
  color: inherit;
}

.products {
  display: flex;
  height: 728px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 1519px;
  text-align: center;
  background-color: #fff;
  position: relative;
}

.products .card_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 29px;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 260px;
  height: 367px;
  padding: 32px;
  border-radius: 32px;
  background: var(--cuadrados, #c5bcbc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  max-width: 100%;
  margin-bottom: 16px;
}

.card h1,
.card h3 {
  text-align: center;
  margin: 0;
}

.button_container {
  position: relative;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.start_now {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 398px;
  height: 70px;
  padding: 16px;
  border-radius: 32px;
  background: var(--contraste-definitivo, #aabbb2);
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.start_now a {
  text-decoration: none;
  color: inherit;
}

.products .start_now a {
  text-decoration: none;
  color: inherit;
}

.asesor {
  display: flex;
  height: 780px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 1519px;
  text-align: center;
  background-color: #d4e8de;
}

.text-container {
  text-align: left;
  max-width: 50%;
  color: #000;
  font-family: Dosis;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-container h4 {
  margin: 0 auto; /* Ajusta según sea necesario */
}

.comienza {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 298px;
  height: 70px;
  padding: 16px;
  border-radius: 32px;
  background: var(--contraste-definitivo, #aabbb2);
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-left: 120px;
  margin-top: 20px
}

.comienza a {
  text-decoration: none;
  color: inherit;
}

.image-container {
  max-width: 50%; /* Ajusta según sea necesario */
}

.image-container img {
  max-width: 100%;
}

.servicios {
  display: flex;
  padding: 32px 64px;
  flex-direction: row;
  align-items: center;
  gap: 239px;
  width: 1519px;

  box-sizing: border-box;
  text-align: center;
  background-color: #ffff;
}

.column {
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 200px;
  text-align: center;
  background-color: #ffff;
  display: flex;

  gap: 64px;
}

.plans {
  margin-top: -70px;
  display: flex;
  width: 536px;
  height: 387px;
  padding: 16px 0px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--cuadrados, #c5bcbc);
}

.anounce {
  display: flex;
  width: 549px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  background: var(--cuadrados, #c5bcbc);
}

.health {
  display: flex;
  width: 549px;
  padding: 16px 36px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  border-radius: 32px;
  background: var(--cuadrados, #c5bcbc);
}

.image {
  width: 234px;
  height: 213px;
  flex-shrink: 0;
  margin-top: 30px;
}

.planes{
  display: flex;
width: 180px;
height: 36px;
padding: 16px;
justify-content: center;
align-items: center;
gap: 16px;
flex-shrink: 0;
border-radius: 32px;
background: var(--verde-secundario-pastel, #AABBB2);

/* shadow */
box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}

.planes a{
  text-decoration: none;
  color: #000;
}

.plan{
  display: flex;
  width: 180px;
  height: 36px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 32px;
  background: var(--verde-secundario-pastel, #AABBB2);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}

.servicios .plans h1,
.servicios .plans h2,
.servicios .column h3 {
  text-align: center;
  margin: 0; 
  line-height: 1.5; 
}

.servicios .plans h1{
  color: #FFF;
text-align: center;
font-family: Domine;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.servicios .plans h2 {
  color: #FFF;
  font-family: "GFS Didot";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.servicios .column h3 {
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.servicios .column h2{
  color: #000;
text-align: center;
font-family: "GFS Didot";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.valoracion{
 background-image: url(../img/fondo4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
height: 580px;
padding: 32px 64px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
width: 1519px;
}

.cartas{
  display: flex;
  width: 1390px;
  height: 580px;
  padding: 32px 64px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cards{
  background-color: white;
  border-radius: 64px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 340px;
  height: 334px;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.profile{
  width: 127px;
height: 123px;
flex-shrink: 0;
border-radius: 64px;
}

.cards h3{
  width: 80%;
height: 63px;
margin:  0 auto;
color: #000;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cards h2{
  color: #000;
font-family: "GFS Didot";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
 




