/* RESPONSIVE */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../img/fondoinicia.jpg');
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenido {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  border-radius: 20px;
  padding: 40px;
  max-width: 500px; /* Ancho máximo del contenido */
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

.inicio-de-sesion {
  text-align: center;
  font-size: 32px;
  color: #333; /* Color del texto */
  margin-bottom: 20px;
}

.registrase {
  text-align: center;
  margin-bottom: 20px;
}

.registrase-boton a {
  color: #aabbb2; /* Color del enlace */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.registrase-boton a:hover {
  color: #88aabb; /* Color del enlace al pasar el ratón */
}

.sesion .usuario,
.sesion .contrasena {
  margin-bottom: 20px;
}

.usuario input,
.contrasena input {
  width: 94%;
  padding: 15px;
  border: 1px solid #ccc; /* Borde del campo */
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.invisible {
  position: relative; /* Cambiado de absolute a relative */
  cursor: pointer;
}

.invisible img {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* background: url('../icons/invisible_1.png') no-repeat center; /* Ajusta la ruta de la imagen  */
  background-size: cover; /* Ajusta el tamaño de la imagen */
  opacity: 0.3;
  z-index: 19;
}

.parte3 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botones-iniciar-sesion {
  background: var(--rosa-contraste, #EFACAC);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
a {
  text-decoration: none; /* Quita la línea subrayada */
  color: inherit; /* Hereda el color del texto de su contenedor */
}
.botones-iniciar-sesion:hover {
  background: var(--contraste-clarito, #CD6161);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}
.botones-iniciar-sesion:active {
  background: var(--clicked-contraste, #E2B2B2);
}
.conectate-con {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.parte4 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.boton-google,
.boton-facebook {
  background: var(--rosa-contraste, #EFACAC);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  width: 48%; /* Ancho de los botones */
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.volver-button {
  position: fixed;
  top: 20px; /* Ajusta según tu preferencia */
  right: 20px; /* Ajusta según tu preferencia */
  background-color: #aabbb2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.boton-google:hover,
.boton-facebook:hover{
  background: var(--contraste-clarito, #CD6161);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}
.boton-google:active,
.boton-facebook:active {
  background: var(--clicked-contraste, #E2B2B2);
}

@media (max-width: 600px) {
  .contenido {
      width: 80%;
  }
  .volver-button {
    display: none; /* Hace que el botón desaparezca en dispositivos móviles */
  }
}
@media (MAX-width: 768px) {
  /* Muestra el botón solo en pantallas más grandes que tablet */
  .volver-button {
    display: none;
  }
}