body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  background: var(--verde-secundario-pastel, #AABBB2);
  /* height: 100%; /* Ocupa toda la altura de la página  */
  border-radius: 20px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%; /* Ocupa toda la altura de la página */
}

.menu-item {
  flex: 1;
  text-align: center;
}

.menu-item a {
  display: block;
  color: rgb(7, 7, 7);
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 20px;
  background: var(--verde-secundario-pastel, #AABBB2);
  /* shadow */
  transition: background-color 0.3s;
  color: #0F0559;
text-align: center;
font-family: "GFS Didot";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
}

.menu-item a:hover {
  background: var(--verde-pastel, #D4E8DE);
  /* shadow */
    border-radius: 20px;
}
.menu-item a:active {
  background: var(--clicked, #BCDFCE);
      border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .menu-list {
    flex-direction: column;
  }

  .menu-item {
    text-align: center;
    border-top: 1px solid #777;
  }
}
