
  a {
    text-decoration: none;
    color: #000000;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1131px;
    height: 696px;
    margin: 0 auto;
    background: #d7ddda;
    overflow: hidden;
  }
  .cierre {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 2px 0 0 1089px;
    background: url(../imagen/inicioSesionRegistrarse/cruzo.png)
      no-repeat center;
    background-size: cover;
    z-index: 46;
    overflow: hidden;
    border: none;
  }
  .cierre:hover{
    border: 1px solid black;
  }
  .contenido {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 128px;
    position: relative;
    width: 1026px;
    margin: 0 0 0 52.5px;
    z-index: 2;
  }
  .izquierda {
    flex-shrink: 0;
    position: relative;
    width: 417px;
    height: 471px;
    background: url(/img/izquierda.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 480px;
    padding: 32px 32px 32px 32px;
    background: #aabbb2;
    z-index: 4;
    border-radius: 24px;
  }
  .crea-tu-cuenta {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 57px;
    color: #000000;
    font-family: ABeeZee;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.736px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .parte {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 411px;
    z-index: 6;
  }
  .usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 189px;
    z-index: 7;
  }
  .nombre {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 189px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .rectangle {
    flex-shrink: 0;
    position: relative;
    width: 189px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 9;
    overflow: hidden;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
  }
  .apellido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    z-index: 10;
  }
  .span-apellido {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 172px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .rectangle-2 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 12;
    overflow: hidden;
    border-radius: 10px;
  }
  .parte-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 412px;
    z-index: 13;
  }
  .dni {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    z-index: 14;
  }
  .text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 171px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .rectangle-4 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 16;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    border-radius: 10px;
  }
  .fecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    z-index: 17;
  }
  .fecha-de-nacimiento {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 190px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .rectangle-6 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 19;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    border-radius: 10px;
  }
  .parte-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 416px;
    z-index: 20;
  }
  .provincia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    z-index: 21;
  }
  .span-provincia {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 170px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .rectangle-9 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 30px;
    background: #e7e1e1;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #000000;
    z-index: 23;
    overflow: hidden;
    border-radius: 10px;
  }
  .codigo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    z-index: 24;
  }
  .span-codigo-postal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 190px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .rectangle-b {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    z-index: 26;
    overflow: hidden;
    border-radius: 10px;
  }
  .domicilio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 416px;
    height: 56px;
    z-index: 27;
  }
  .span-domicilio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 172px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .rectangle-d {
    flex-shrink: 0;
    position: relative;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    width: 416px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 29;
    overflow: hidden;
    border-radius: 10px;
  }
  .email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 416px;
    height: 53px;
    z-index: 30;
  }
  .e-mail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 172px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
  }
  .rectangle-f {
    flex-shrink: 0;
    position: relative;
    width: 416px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    z-index: 32;
    overflow: hidden;
    border-radius: 10px;
  }
  .contrasena {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 416px;
    z-index: 33;
  }
  .text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 172px;
    height: 25px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }
  .rectangle-11 {
    flex-shrink: 0;
    position: relative;
    width: 416px;
    height: 30px;
    background: #e7e1e1;
    border: 1px solid #000000;
    z-index: 35;
    overflow: hidden;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
  }
  .regiistro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    width: 360px;
    height: 40px;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
    background: #efabab;
    border: none;
    z-index: 36;
    border-radius: 32px;
    box-shadow: 2px 2px 4px 0 rgba(51, 62, 99, 0.75);
  }
  .button {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 34px;
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
  }
  .o-registrase-con {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 156px;
    height: 21px;
    color: #000000;
    font-family: GFS Didot;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
  }
  .google-facebook {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 86px;
    position: relative;
    width: 389px;
    height: 44px;
    z-index: 39;
  }
  .google-button {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 150px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    z-index: 40;
    border-radius: 32px;
    box-shadow: 2px 2px 4px 0 rgba(51, 62, 99, 0.75);
  }
  .duck-icon-google {
    flex-shrink: 0;
    position: relative;
    width: 23.142px;
    height: 23.142px;
    background: url(/icons/icon\ _google_.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 41;
  }
  .google {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #0f0558;
    font-family: GFS Didot;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
  }
  .facebook-button {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 150px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000000;
    z-index: 43;
    border-radius: 32px;
    box-shadow: 2px 2px 4px 0 rgba(51, 62, 99, 0.75);
  }
  .bxl-facebook {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(/icons/facebook.png)
      no-repeat center;
    background-size: cover;
    z-index: 44;
    overflow: hidden;
  }
  .facebook {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #0f0558;
    font-family: GFS Didot;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .fondo {
    position: absolute;
    width: 1146px;
    height: 696px;
    top: 0;
    left: 0;
    background: url(/img/fondo1.png)
      no-repeat center;
    background-size: cover;
  }
  