body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('../img/fondoinicia.jpg');
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../img/fondoinicia.jpg');
  background-size: cover;
  padding: 10px;
}

.contenido {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 40px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Ajuste del modelo de caja */
  /* height: 650px; */
}

.crea-tu-cuenta {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.parte,
.parte-2,
.parte-3 {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en dispositivos pequeños */
  justify-content: space-between;
  /* margin-bottom: 20px; */
}
/* Ajustes para los inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  margin-bottom: -1px;
  box-sizing: border-box;
}

.registro,
.google-button,
.facebook-button {
  background: var(--rosa-contraste, #EFACAC);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}

.registro:hover,
.google-button:hover,
.facebook-button:hover{
  background: var(--contraste-clarito, #CD6161);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}
.registro:active,
.google-button:active,
.facebook-button:active{
  background: var(--clicked-contraste, #E2B2B2);
}
.o-registrase-con {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.google-facebook {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.google-button,
.facebook-button {
  width: 40%;
  margin-left: 20px;
  margin-right: 52px;
}
.volver-button {
  position: fixed;
  top: 20px; /* Ajusta según tu preferencia */
  right: 20px; /* Ajusta según tu preferencia */
  background-color: #aabbb2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.campo-invalido {
  border: 1px solid red; /* Esto resalta el borde en rojo */
}

.mensaje-error {
  color: red;
}

@media (max-width: 600px) {
  .contenido {
    width: 80%;
    padding: 20px;

  }

  /* Ajustes para los inputs en dispositivos pequeños */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    margin-bottom: 20px;
  }
  .volver-button {
    display: none; /* Hace que el botón desaparezca en dispositivos móviles */
  }
}
@media (MAX-width: 768px) {
  /* Muestra el botón solo en pantallas más grandes que tablet */
  .volver-button {
    display: none;
  }
}