/* Estilos CSS para el formulario */
.box-3 {
  padding: 2% 5%;
  background: #c4bbbb;
  text-align: center;
}

.text-6 {
  color: #000000;
  font-family: Dosis;
  font-size: 3vw; /* Mantenemos el tamaño relativo para pantallas más grandes */
  font-weight: 400;
  white-space: nowrap;
}

.wrapper-4 {
  padding: 2% 5%;
}

.text-7 {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 1.2em; /* Tamaño de letra específico para móviles y tabletas */
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

/* Estilos para el botón y el mensaje de error */
button[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em; /* Tamaño de letra específico para móviles y tabletas */
  border-radius: 32px;
  background: var(--rosa-contraste, #EFACAC);
  
  /* shadow */
  box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
  color: black;
  border: none;
  cursor: pointer;
}

button:hover{
  border-radius: 32px;
background: var(--contraste-clarito, #CD6161);

/* shadow */
box-shadow: 2px 2px 4px 0px rgba(51, 62, 99, 0.75);
}

button:active{
  border-radius: 32px;
background: var(--clicked-contraste, #E2B2B2);
}
#mensaje-error {
  color: red;
  margin-top: 10px;
  display: none;
}



/* Media query para tabletas y dispositivos móviles */
@media (max-width: 768px) {
  .text-6 {
      font-size: 16px; /* Tamaño de letra específico para tabletas y móviles */
  }
  .text-7 {
      font-size: 16px; /* Tamaño de letra específico para tabletas y móviles */
  }
  button[type="button"] {
      font-size: 16px; /* Tamaño de letra específico para tabletas y móviles */
  }
}
