.calendario {
    width: 100%;
    /* Agrega otros estilos para el contenido debajo del menú */
    /* Por ejemplo, puedes establecer márgenes superiores para separarlo del menú */
    margin-top: 20px;
    /* Ajusta según sea necesario */
    /* overflow: hidden;
    position: relative; */
}

.contenido {
    position: relative;
    z-index: 1;
    max-width: calc(100% - 64px);
    margin: 0 auto;
    /* padding: 20px;*/
}

/* Estilos generales */
body {
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
}

.contexto {
    width: 80%;
    padding: 20px;
}

.derecha {
    margin-left: 20px;
}

.titulo,
.titulo1 {
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilos para las tarjetas de citas */

.lasCitas {
    display: flex;
    /* Cambiar el contenedor a un flexbox */
    flex-wrap: wrap;
    /* Permitir que las tarjetas se envuelvan en varias líneas */
    justify-content: space-between;
    /* Distribuir las tarjetas uniformemente */
}

.tarjeta {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(35% - 50px); /* Calculamos el ancho con margen entre las tarjetas  */
    transition: all 0.3s ease;
    /* Agregar transiciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Agregar sombra */
}

.tarjeta:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.texto1 {
    font-weight: bold;
}

.texto2 {
    color: #666;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.image-27 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 110px;
    background: url(../img/fondo1.png) no-repeat center;
    background-size: cover;
}


@media (max-width: 768px) {
    .contenido {
        padding: 10px;
    }

    .contexto {
        width: 100%;
    }

    .derecha {
        margin-left: 0;
    }

    .tarjeta {
        width: 100%;
        /* Tarjetas ocupan todo el ancho en dispositivos móviles */
    }

}
@media (max-width: 1024px) {
    .background-image {
        position: absolute;
        /* Ajusta el top según sea necesario, esto evitará que la imagen se desplace debajo del footer */
        top: 110PX;
    }
}